# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: test

on:
  push:
    branches: ["main"]
  workflow_call: {}

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-build-env
      - name: Unit Test
        run: go test -race -v ./...

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-build-env
      - name: Build
        run: go build -v -ldflags="-s -w" -trimpath -o build/ .

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-build-env
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4

